.top_rated_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.rating {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
}

img {
    border-radius: 8px;
}
